*{
  font-family: 'Inter', sans-serif;
}

.App{
  height: 800px;
  width: 500px;
  border: 2px solid white;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.search-bar-container{
  height: 50px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-bar-container input{
  height: 100%;
  width: 100%;
  margin: 10px;
  border-radius: 2rem;
  font-size: 2.7rem;
  text-align: center;
}

.search-bar-container button{
  height: 100%;
  border-radius: 50%;
}

.weather-image{
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.temp-container{
  height: 50px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}

.city-container{
  height: 100px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90px;
}

.additional-info{
  height: 100px;
  width: 400px;
  border: 2px solid white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.humidity-container{
  height: 70px;
  width: 170px;
  border: 2px solid white;
  display: flex;
  align-items: center;
}

.wind-speed-container{
  height: 70px;
  width: 170px;
  border: 2px solid white;
  display: flex;
  align-items: center;

}